<font color='#2F4F4F'>To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# <font color='#2F4F4F'>AfterWork Data Science: Web Scraping with Python</font>

## <font color='#2F4F4F'>Prerequisites</font>

In [1]:
# We first import the required libraries
# ---
#
import pandas as pd             # library for data manupation
import requests                 # library for fetching a web page 
from bs4 import BeautifulSoup   # library for extrating contents from a webpage

## <font color='#2F4F4F'>Step 1: Obtaining our Data</font>

In [36]:
# PigiaMe: https://www.pigiame.co.ke/it-software-jobs
# ---
#
pigia_me = requests.get('https://www.pigiame.co.ke/it-software-jobs')
pigia_me

In [ ]:
print(pigia_me.text[0:16000])

In [14]:
# MyJobMag: https://www.myjobmag.co.ke/jobs-by-field/information-technology
# ---
#
my_job_mag = requests.get('https://www.myjobmag.co.ke/jobs-by-field/information-technology')
my_job_mag

In [21]:
# KenyanJob: https://www.kenyajob.com/job-vacancies-search-kenya?f%5B0%5D=im_field_offre_secteur%3A133
# ---
#
kenya_job = requests.get('https://www.kenyajob.com/job-vacancies-search-kenya?f%5B0%5D=im_field_offre_secteur%3A133')
kenya_job

## <font color='#2F4F4F'>Step 2: Parsing</font>

In [5]:
# Parsing our document: pigia_me
# ---
# 
soup = BeautifulSoup(pigia_me.text, 'html.parser')

<title>It &amp; Software Jobs in Kenya | PigiaMe</title>

In [16]:
# Parsing our document: my_job_mag
# ---
#  
soup = BeautifulSoup(my_job_mag.text, 'html.parser')

In [ ]:
# Parsing our document: kenyan_job
# ---
# 
soup = BeautifulSoup(kenya_job.text, 'html.parser')

## <font color='#2F4F4F'>Step 3: Extracting Required Elements</font>

In [37]:
# 1. Extracting job titles and links: pigia me
pigia_me = requests.get('https://www.pigiame.co.ke/it-software-jobs')
soup = BeautifulSoup(pigia_me.text, 'html.parser')
title_results = soup.find_all('div', {'class': 'listing-card_header_title'}) 
titles = []
for result in title_results:
    title = result.get_text()
    titles.append(title)
titles_df = pd.DataFrame({"title": titles})
titles_df.head()

In [28]:
# 2. Extracting job titles: my_job_mag
soup = BeautifulSoup(my_job_mag.text, 'html.parser')
results = soup.find_all('h2')
h2_content = [] 
for result in results:
    text = result.get_text()
    h2_content.append(text)
df_2 = pd.DataFrame({"h2_content": h2_content})
df_2.head()

                                          h2_content
0  Terms of Reference: Graphic Designer (Individu...
1  Intern - Digital Support, I at United Nations ...
2  Senior Advisor, National Digital Infrastructur...
3  Information Systems Auditor at Consolidated Ba...
4          Head of ICT at Consolidated Bank of Kenya

In [39]:
# 3. Extracting job titles: kenya_job
soup = BeautifulSoup(kenya_job.text, 'html.parser')
results = soup.find_all('h5') 
h5_content = [] 
for result in results:
    text = result.get_text()
    h5_content.append(text)
df_3 = pd.DataFrame({"h5_content": h5_content})
df_3.head()

                                    h5_content
0  Business Development / Sales Representative
1               Business Development Assistant
2                       Customer Service Agent
3                   Web Designer and Developer
4                              Sales Executive

## <font color='#2F4F4F'>Step 4: Saving our Data</font>

In [ ]:
# Saving the scraped contents in a dataframe and preview our data
# ---
#
YOUR CODE GOES HERE